// https://cloud.yandex.ru/docs/ydb/docapi/tools/aws-sdk/query-and-scan
// https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#scan-property

import { marshall } from "@aws-sdk/util-dynamodb";

export const appConfig: IappConfig = {
  TableName: "TableName", // Your Table Name
  Limit: 20,
  KeyConditionExpression: "id = :val", // Your KeyConditionExpression
  ExpressionAttributeValues: marshall({
    ":val": "7777777", // Your ExpressionAttributeValues
  }),
};

export const csvConfig = {
  csvFilePath: "csv/result.csv",
  delimiter: "\t",
};

interface IappConfig {
  TableName: string;
  Limit: number;
  KeyConditionExpression: string;
  ExpressionAttributeValues: any;
  ExclusiveStartKey?: any;
}